body{
    background-image: url(/Assets/fondo.jpeg);
    margin: 0px;
    padding: 0px;

}

#colo {
    background: #FDF6DB;
    }

#logoHome{
   width: 150px;
}

#encabezadoLogo{
    width: 450px;
   
}
#loginIcon{
 
    width: 48px;
}
#cartIcon{
    width: 48px;
}

.navbar{
    background-color: #FFA931;
    font-weight: bold;
}

body{
    font-family: 'Roboto Flex', sans-serif;
}

.page-content {
    bordeer: 1px;
    display: flex;
    flex-wrap: wrap;
}

#filterfor{
    text-align: center;
}

.dropdown{
    padding: 5px;
    margin: 5px ;
    font-size:
    font-family:'Roboto' ;
    background: none;
}

.btn

   /* 
.botonFiltro{
    background-color: #626962;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.filtro{
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position:
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

 .dropdown-content a:hover {background-color: #f1f1f1}

 .filtro:hover .dropdown-content {
    display: block;
  }
  
  .filtro:hover .botonFiltro {
    background-color: #303230;
  }
*/
  .panelFiltros {
    margin: 10px;
    padding-left: 10px;
    justify-content: space-between;
    display: inline-block;
  }

  #desplegable{
    background:none;
    align-items:center;
  }

 .tablaLinks {
    padding: 0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    border-width: 10px;
    width: 100px;
    text-decoration: none;
}
.dropdown-menu{
    font-family: 'Roboto';

}
a{
    color: black;
}
#filterfor{
    font-family: 'Roboto';
    color: black

}
.produto{
        
    justify-content: center;
    float: left; 
   padding: 10px;
   justify-content: space-between;
   font-family: 'Roboto';
   margin: 5px;
   }

.produto__img{
    width: 200px;
    height: 200px;
}

.img_carrito{
    width: 23px;
    height: 23px;
    justify-content: left;
    
}

.produto__title{
    text-align: center;
    font-family: 'Roboto';
}



#descripcion_cerv{
    justify-content: left;
    font-family: 'Roboto';
}
.footerRedesSociales{
    font-family: 'Roboto';
    color: #640002;
    text-align: left;
    padding: 10px;
}

footer{
    background-color: #FFA930;
    padding: 10px;
}

.footerTexto{
    text-align: c;
    font-family: 'Roboto';
    color: #640002;
    font-weight: bolder;
    padding: 10px;
}

.eviteExceso{
    font-family: 'Roboto';
    color: #640002;
    font-weight: bolder;
    text-align: center;
}

.linkFooter{
    color: #640002;
    font-family: 'Roboto';
}
