/* CARRITO */

.container-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 95%;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.container-products ion-icon {
    font-size: 20px;
    color: #190974;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
}

.product-header {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid black;
    margin: 0 auto;
    background-color: #FFA931;
    border-radius: 10px;
    color: #640002;
    font-weight: bold;
}

.product-title {
    width: 45%;
    border-bottom: 1px solid black;
    text-align: center;
}


.price {
    width: 15%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    
}

.quantity {
    width: 20%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.total {
    width: 20%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.product ion-icon {
    cursor: pointer;    
}

.products {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 100px;
    margin: 15px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.basketTotalTitle {
    width: 80%;
    text-align: center;
    background-color: #190974;
    border-radius: 10px;
    color: #FDF6DB;
    font-weight: bold;
    margin: 10px;
}

.basketTotal {
    width: 20%;
    text-align: right;
    margin: 10px;
}

@media(max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }

    .sm-hide {
        display: none;;
    }

    .products,
    .product-header {
        justify-content: space-around;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }
}


body{
    background-image: url('/Assets/Img/fondo.jpeg');
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Flex';
}

#itemName{
    text-align: center;
}


/* HEADER */
#contador{
    color: #000;
}


#navTexto{
    color: #640002;
}

#colo {
    background: #FDF6DB;
    }

#logoHome{
   width: 150px;
}

#encabezadoLogo{
    width: 450px;
   
}
#loginIcon{
 
    width: 48px;
}
#cartIcon{
    width: 48px;
}

.navbar{
    background-color: #FFA931;
    font-weight: bold;
}

body{
    font-family: 'Roboto Flex';
}


/* FOOTER */

.footerRedesSociales{
    font-family: 'Roboto Flex';
    color: #640002;
    text-align: left;
    padding: 10px;
}

footer{
    background-color: #FFA930;
    padding: 10px;
    color: #640002;
    font-weight: bold;
    text-align: center;
	
}

.footerTexto{
    text-align: c;
    font-family: 'Roboto Flex';
    color: #640002;
    font-weight: bolder;
    padding: 10px;
}

.eviteExceso{
    font-family: 'Roboto Flex';
    color: #640002;
    font-weight: bolder;
    text-align: center;
}

.linkFooter{
    color: #640002;
    font-family: 'Roboto Flex';
} 

.card-text{
    justify-content: center;
}
