#colo {
    background: #FDF6DB;
    }
#logoHome{
   width: 150px;
}
#encabezadoLogo{
    width: 450px;
}
#loginIcon{
    width: 48px;
}
#cartIcon{
    width: 48px;
}
.navbar{
    background-color: #FFA931;
    font-weight: bolder;
    
}


body{
    background-image: url(/Assets/Img/fondo.jpeg);
    font-family: 'Roboto Flex';
}


/* FOOTER */

.footerRedesSociales{
    text-align: left;
    padding: 10px;
    font-weight: bold;
	color: #640002;
}

footer{
    background-color: #FFA930;
    padding: 10px;
    color: #640002;
    font-weight: bold;
    text-align: center;
	
}

.linkFooter{
	color: #640002;
}

/* FOOTER */
/*color de numero de carrito*/
#contador{
    color: #000;
}
