

body{
    background-image: url(/Assets/Img/fondo.jpeg);
    font-family: 'Roboto Flex', sans-serif;
}

.bg{
  background-image: url(/Assets/Img/colCerveza.png);
}
#colo {
    background: #FDF6DB;
    }

#logoHome{
   width: 150px;
}

#encabezadoLogo{
    width: 450px;
   
}
#loginIcon{
 
    width: 48px;
}
#cartIcon{
    width: 48px;
}

.navbar{
    background-color: #FFA931;
    font-weight: bold;
	color: #640002;
}

/* FOOTER */

.footerRedesSociales{
    text-align: left;
    padding: 10px;
    font-weight: bold;
	color: #640002;
}

footer{
    background-color: #FFA930;
    padding: 10px;
    color: #640002;
    font-weight: bold;
	text-align: center;
}

.linkFooter{
	color: #640002;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #000000;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #000000;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #000000;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/*---------------------validation-------------------------*/

.formulario__validacion-estado {
	
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

/*color de numero de carrito*/
#contador{
    color: #000;
}