/* BODY */



.container{
    padding: 0;
}

.container-fluid {
	width: 90%;
}

.carousel_container-fluid {
	position: relative;
}

.carousel_anterior,
.carousel_siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: 50%;
	line-height: 30px;
	background: none;
	color: blue;
	/* opacity: 20%; */
}

.carousel_anterior:hover,
.carousel_siguiente:hover {
	/* opacity: 100%; */
    color: purple;
}

.carousel_anterior {
	left: -30px;
}

.carousel_siguiente {
	right: -30px;
}

.carousel_lista {
	overflow: hidden;
}

.carousel_elemento {
	text-align: center;
}

.carousel_indicadores .glider-dot {
	width: 30px;
	height: 4px;
	background: blue;
	opacity: .2;
}

.carousel_indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel_indicadores .glider-dot.active {
	opacity: 1;
}

#Contactame{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Flex';
    color: black;
}

body{
    background-image: url(/Assets/Img/fondo.jpg); 
    padding: 0;
    font-family: 'Roboto Flex';
}

.card-img-top{
    border-radius: 5px;
}

.acercaSakaChelas{
    background-color: #FFA930;
    color: #640002;
    font-weight: bold;
    font-size: 45px;
    padding: 15px;
    text-align: center;
    font-family: 'Roboto Flex';

}

.textoAcerca{
    text-align: center;
    font-family: 'Roboto Flex';
}

.acercaDuffTeam{
    background-color: #FFA930;
    color: #640002;
    font-weight: bold;
    font-size: 45px;
    padding: 15px;
    text-align: center;
    font-family: 'Roboto Flex';
}

.row {
    display: flex;
    justify-content: center;
}

#titulosAcerca{
    font-weight: bolder;
    text-align: center;
    font-family: 'Roboto Flex';
}

.card-body{
    font-family: 'Roboto Flex';
    background-color: #FDF6DB;
    margin: 10px;
    border-radius: 20px;
    text-align: justify; 
}

#nombresCarousel{
    text-align: center;
    font-weight: bolder;
}




/* HEADER */
#navTexto{
    color: #640002;
}

#colo {
    background: #FDF6DB;
    }

#logoHome{
   width: 150px;
}

#encabezadoLogo{
    width: 450px;
   
}
#loginIcon{
 
    width: 48px;
}
#cartIcon{
    width: 48px;
}

.navbar{
    background-color: #FFA931;
    font-weight: bold;
	color: #640002;
}



/* FOOTER */
/* FOOTER */

.footerRedesSociales{
    text-align: left;
    padding: 10px;
    font-weight: bold;
    color: #640002;
}

footer{
    background-color: #FFA930;
    padding: 10px;
    color: #640002;
    font-weight: bold;
    text-align: center;
}

.linkFooter{
    color: #640002;
}

/*color de numero de carrito*/
#contador{
    color: #000;
}