@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea{
  font-family: "Poppins", sans-serif; 
}

.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  width: 100%;
  max-width: 820px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.form-contacto{
  background-color: #1abc9c;
  position: relative;
}

.circulo {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279 );
  position: absolute;
}

.circulo.uno{
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circulo.dos{
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.form-contacto:before{
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: red;
}